/* Inicio */
.body__inicio{
    background-image:  url(./img/fondoInicio.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.main__inicio{
    padding: 2% 0% 100%;
}
.menu__inicio{
    width: 96%;
    display: flex;
    margin: auto;
    border-radius: 10px;
}
.menu__inicio li{
    list-style: none;
    margin:2%;
    background-color:#1F3956;
    border-radius: 20px;
    padding: 0.5% 1.5%;
}
.menu__inicio li a{
    font-size: 7rem;
    font-family:chewy;
    text-decoration: none;
    color: #FACA03;
    letter-spacing: 0.5rem;
}
/* pokedex */
.nav{
    width: 100%;
}
.logoPoke{
    width: 150px;
    height: 103px;
    margin: 10px;
    padding: 15px 42px;
}
.menu{
    background-color:#1F3956;
    background-position: center center;
    width: 96%;
    display: flex;
    margin: auto;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.menu li{
    list-style: none;
    margin:2%;
}
.menu li a{
    font-size: 7rem;
    font-family:chewy;
    text-decoration: none;
    color: #FACA03;
    letter-spacing: 0.5rem;
}
.mainPrincipal{
    background-color: #D9D9D9;
    background-position: center center;
    width: 96%;
    padding: 2% 0% 50%;
    margin-left: 2%;
    margin-top: 3%;
    border-radius: 10px;
}
.tittle{
    color: #FACA03;
    text-align: center;
    font-family:chewy;
    font-size: 9rem;
    -webkit-text-stroke: 1px black;
    letter-spacing: 0.5rem;
}
.search{
    color: #FACA03;
    text-align: center;
    font-size: 7rem;
    font-family:chewy;
    -webkit-text-stroke: 1px black;
    letter-spacing: 0.5rem;
    padding: 0.5%;
}
.section1{
    background-color: #1F3956;
    width: 100%;
    /* padding: 0.5% 0%; */
}
.sectionAbc{
    padding: 50px;
}
#orderSelect{
    width: 40rem;
    height: 5rem;
    border-radius: 2rem;
    font-size: 3rem;
    display: block;
    text-align-last: center;
}
.section2{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 50px;
}
.nameLabel{
    color: white;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}
.nameInput{
    width: 40rem;
    height: 5rem;
    border-radius: 2rem;
    font-size: 3rem;
}
.button {
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
  }
#search{
    margin-top: 30px;
    color: #FACA03;
    background-color: #1F3956;
    padding: 8px 12px ;
    border-color: #FACA03;
    border-radius: 2rem;
    font-size: 5rem;
    font-family:chewy;
    letter-spacing: 0.5rem;
}
.section3{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-content: center;
    text-align-last: center;
    font-family:Inter;
    font-size: 5rem;
}
.card{
    width: 260px;
    height: 350px;
    border-radius: 20px;
    background-color: #1F3956;
    text-align-last: center;
    font-size: 2rem;
    font-family:chewy;
    color: #FACA03;
    line-height: 20px;
}
.card > p{
    font-family: Inter;
    font-size: 0.8rem;
}
.card img{
    width: 215px;
    height: 225px;
}
.feature{
    color: #FACA03;
    background-color: #1F3956;
    padding: 5px 22px ;
    border-color: #FACA03;
    border-radius: 0.3rem;
    font-size: 1.3rem;
    font-family:chewy;
    /* letter-spacing: 0.5rem; */
}
.footer{
    margin-top: auto;
    width: 100%;
    height: 100%;
    background: #1F3956;
    color: #FACA03;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    text-align: center;
}
.footer {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 0px;
    border-radius: 2%;
}
.footer .redes {
    border-right-color: #FACA03;
}

.footer .redes img {
    width: 150px;
    height: 150px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    }
