.nav{
    width: 100%;
}
.logoPoke{
    width: 400px;
    height: 300px;
    margin: 10px;
    padding: 15px 42px;
}
.menu{
    background-color:#1F3956;
    background-position: center center;
    width: 96%;
    display: flex;
    margin: auto;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.menu li{
    list-style: none;
    margin: 2%;
}
.menu li a{
    font-size: 4rem;
    font-family:chewy;
    text-decoration: none;
    color: #FACA03;
}
.mainPrincipal{
    background-color: #D9D9D9;
    background-position: center center;
    width: 96%;
    padding: 5% 0% 100%;
    margin-left: 2%;
    /*margin-right: 2%;*/
    margin-top: 3%;
    border-radius: 10px;
}
.tittle{
    color: #FACA03;
    text-align: center;
    font-family:chewy;
    font-size: 6rem;
}
.search{
    color: #FACA03;
    text-align: center;
    font-size: 4rem;
    font-family:chewy;
}
.section1{
    background-color: #1F3956;
    width: 100%;
    padding: 3% 0%;
}
.section2{
    color: white;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

form input {
width: ;
height: ;
}

.button {
    display: flex;
    justify-content: center;
    
  }
#search{
    /* display: inline-block; */
    margin-top: 30px;
    color: #FACA03;
    background-color: #1F3956;
    padding: 8px 12px ;
    border-color: #FACA03;
    border-radius: 10px;
    font-size: 3rem;
    font-family:chewy;
}
.footer{
    margin-top: auto;
    width: 100%;
    height: 100%;
    background: #1F3956;
    color: #FACA03;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    text-align: center;
}
.footer {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 0px;
    border-radius: 2%;
}
.footer .redes {
    border-right-color: #FACA03;
}

.footer .redes img {
    width: 50px;
    height: 50px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    }

